.edit-container{
    padding:10px;
    background-color:rgb(204, 222, 204);
    max-width: fit-content;
    position: absolute;
    right:10px;
    top:45px;
    border-radius:20px;
    cursor:pointer;
}

.edit-container span{
    padding:5px;
}

