.Admin-nav{
    min-width:100%;
    min-width:100%;
    box-sizing:border-box;
    background-color:rgb(109, 164, 109);
}

.Admin-nav nav{
    display:grid;
    grid-template-columns:auto auto;
    text-align:center;
    box-sizing: border-box;
}

.Admin-nav nav .link-tag{
    padding:10px;
    text-decoration: none;
    color: black;
    width:100%;
    text-align: center;
    font-size:15px;
    font-weight:bold;
    box-sizing: border-box;
}


.link-tag.active{
    background-color:rgb(138, 198, 138);
}

/* .link-tag-for-admin.active{
    background-color:rgb(138, 198, 138);
} */


@media(max-width:400px){
    .link-tag{
        box-sizing: border-box;
        padding:8px;
        text-decoration: none;
        color: black;
        width:100%;
        text-align: center;
        font-size:14px;
        font-weight:bold;
    }
}